*.txt
*.csv
*.xlsx
*.html
*.png
*.json
*.css
__pycache__
*.text
blah.py
testing_somthing.py
federal_level_computer_vision.ipynb
GUI.py
people_urls_model/
Fred Thiele - Ballotpedia_files/
webdriver/chromedriver-win64/
testing_files/